<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    
</head>

<body>

    <h1> Home </h1>

    <p>Logout <u style="color:#f1c40f;"> <a href="./logout"> Click Here! </a></u></p>

</body>

</html>

